<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mining.platform.core">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <service
            android:name=".service.messaging.CommunicationService"
            android:exported="true"
            tools:ignore="ExportedService">
<!--            android:process=":platform"-->

        </service>
    </application>

</manifest>